<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.Description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.Price %>
</p>

<%= link_to 'Back', root_path %>
